body{
    background-color: blueviolet;
    color: aquamarine;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    text-align: center;

}

header{
    background-color: darkviolet;
    color: goldenrod;
    padding: 10px;
}

nav{
    display: flex;
    justify-content: center;
    background-color: aqua;
    padding: 5;
}

nav a{
    color: lightskyblue;
    text-decoration: none;
}

nav a:hover{
    color: burlywood;
    text-decoration: none;
    cursor: crosshair;
}

section {
    margin: 40px;
}

footer{
    background-color: purple;
    color: violet;
    position: fixed;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
